* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#section2 {
    width: 300px;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.simple {
    border: 2px solid;
    border-radius: 15px;
    background-color: beige;
    padding: 10px;
}

.background {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.border {
    border: 3px solid darkblue;
    color: darkblue;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    min-width: 100px;
    text-align: center;
    display: block;
}

.media-text {
    display: inline-block;
    width: 200px;
    background-color: beige;
}

.wide {
    display: block;
    width: 33%;
}