* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    /* background-color: rgb(20, 29, 24); */
    background-color: black;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
}

#navbar #logo:active {
    color: rgba(255, 255, 255, 0.607);
}

#navbar a.links:hover {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#navbar a.links:active {
    color: rgba(255, 255, 255, 0.607);
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#navbar #logo {
    font-size: 32px;
    font-weight: bold;
    padding: 24px;
    /* margin-right: auto; */
}

#hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

#hero .gradient {
    display: flex;
    background: linear-gradient(90deg,  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.87));
    padding: 72px;
    text-align: end;
    width: 100vw;
    height: 80vh;
    justify-content: flex-end;
    align-items: center;
}

#hero h1 {
    color: white;
    font-size: 80px;
    text-align: end;
    margin: 0px;
}

#hero h3 {
    color: white;
    font-size: 40px;
}

#centered-single-column {
    max-width: 800px;
    margin: 48px auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 15px;
}

#gallery img {
    object-fit: cover;
    flex: 1;
    height: 250px;
    object-position: bottom;
}

#gallery img.percent {
    object-position: 10%;
}

#gallery img.top {
    object-position: top;
}

/* !!!!!!!!!!!!!!!!TABLET BREAKPOINT!!!!!!!!!!!!!! */

@media screen and (max-width: 650px) {
    #navbar {
        flex-direction: column;
    }

    #navbar a {
        font-size: 18px;
    }

    #logo {
        font-size: 28px;
        text-align: center;
    }

    #hero h1 {
        font-size: 60px;
        text-align: center;
    }

    #hero h3 {
        font-size: 24px;
        text-align: center;
    }

    #hero .gradient {
        justify-content: center;
        align-items: flex-start;
    }
}

/* !!!!!!!!!!!!!!!!MEDIA BREAKPOINT ONE !!!!!!!!!!!!!! */

@media screen and (max-width: 450px) {
    #navbar {
        flex-direction: column;
    }

    #hero h1 {
        font-size: 40px;
    }

    #hero h3 {
        font-size: 16px;
    }

    #hero .gradient {
        text-align: center;
        justify-content: center;
    }
}

/* !!!!!!!!!!!!!!!!MEDIA BREAKPOINT TWO !!!!!!!!!!!!!! */

@media screen and (max-width: 400px) {
    #navbar {
        flex-direction: column;
    }

    #hero h1 {
        font-size: 38px;
    }

    #hero h3 {
        font-size: 16px;
    }

    #hero .gradient {
        text-align: center;
        justify-content: center;
    }
}