* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.card-container {
    display: flex;
    gap: 40px;
}

.card {
    border: 3px solid gray;
    border-radius: 25px;
    margin: 36px 0px;
    padding: 40px 55px;
    flex: 1;
    text-align: center;
}

.card a {
    display: block;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0px 30px;
    text-decoration: none;
    color: black;
}

.card h3 {
    font-size: 30px;
    margin: 0px;
}

.card p {
    font-size: 18px;
    flex: 1;
}

.images {
    width: 250px;
    border-radius: 50%;
    padding: 12px;
    margin-top: 24px;
}