* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.card-container {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(123, 64, 13);
    background-color: rgb(151, 90, 43);
    border-radius: 25px;
    margin: 36px 0px;
    padding: 40px 55px;
    flex: 1;
    text-align: center;
}

.card a {
    display: block;
    border: 2px solid;
    border-radius: 15px;
    border-color: rgb(225, 162, 91);
    font-weight: bold;
    padding: 10px 15px;
    margin: 0px 30px;
    text-decoration: none;
    color: white;
}

.card h3 {
    font-size: 30px;
    margin: 0px;
    color: white;
    padding-bottom: 5px;
}

.card p {
    font-size: 18px;
    flex: 1;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
}

.images {
    width: 250px;
    border-radius: 50%;
    margin-top: 24px;
    border: 5px solid rgb(225, 162, 91);
}