* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.card-container {
    display: flex;
}

.card {
    border: 3px solid gray;
    margin: 36px 0px;
    padding: 36px;
    flex: 1;
    text-align: center;
}

.card a {
    display: block;
    background-color: aliceblue;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px 15px;
    margin: 0px 50px;
}

.images {
    width: 200px;
    border-radius: 50%;
}