@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 34px;
}

#single-column {
    max-width: 1000px;
    margin: 48px auto;
}

#top-text {
    text-align: center;
    padding-bottom: 50px;
}

#teams {
    display: flex;
    gap: 50px;
    justify-content: center;
}

#teams img {
    width: 400px;
}

#teams h1 {
    display: flex;
    align-items: center;
}

#teams h2 {
    text-align: center;
}