* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color: rgb(216, 172, 125);
    width: 50%;
    max-width: 500px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0px auto;
}