* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    border-bottom: 2px solid rgb(115, 215, 115);
}

#sidebar-content {
    background-color: rgb(219, 252, 209);
    width: 250px;
    padding: 24px;
    border-right: 2px solid rgb(115, 215, 115);
}

#sidebar-content h2 {
    padding: 8px;
    border-bottom: 2px solid;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content li {
    padding: 4px 0px;
}

#sidebar-content a {
    text-decoration: none;
    color: black;
}

#main-content {
    background-color: lightgreen;
    flex: 1;
    padding: 24px;
}