* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    /* border-bottom: 2px solid rgb(115, 215, 115); */
}

#sidebar-content {
    /* background-color: rgb(219, 252, 209); */
    width: 250px;
    padding: 24px;
    /* border-right: 2px solid rgb(115, 215, 115); */
    order: 2;
}

#sidebar-content h2 {
    padding: 12px;
    /* border-bottom: 2px solid; */
    font-size: 18px;
    background-color: rgb(3, 95, 3);
    color: white;
    margin: 0px;
}

#sidebar-content ul {
    list-style-type: none;
    background-color: #efefef;
    margin: 0px 0px 30px;
    border: 2px solid rgb(3, 95, 3);
    padding: 10px 30px;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid rgb(3, 95, 3);
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#sidebar-content a {
    text-decoration: none;
    color: rgb(3, 95, 3);
}

#main-content {
    background-color: lightgreen;
    flex: 1;
    padding: 24px;
}