* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#container {
    display: inline-block;
    background-color: aliceblue;
    margin: 50px;
    border: 5px solid lightblue;
    padding: 5px 10px;
    border-radius: 20px;
}

#button {
    color: rgb(42, 102, 128);
}

#container:hover {
    background-color: white;
    border-color: rgb(50, 178, 217);
}