/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    font-family:
        'Gill Sans', 
        'Gill Sans MT', 
        Calibri, 
        'Trebuchet MS', 
        sans-serif
        ;
    box-shadow: 3px 5px 12px rgb(89, 48, 9);
}

.one {
    background-color: rgb(196, 244, 171);
    margin-left: 50px;
}

.two {
    background-color: rgb(171, 234, 239);
    margin-top: 80px;
    margin-left: 130px;
}

.three {
    margin-left: 100px;
    margin-top: 40px;
    background-color: rgb(254, 254, 134);
}

.four {
    background-color: rgb(255, 255, 255);
    margin-top: 150px;
    margin-left: 15px;
}

.five {
    background-color: rgb(255, 224, 138);
    margin-left: 50px;
    margin-top: 90px;
}

.six {
    background-color: white;
    margin-left: 90px;
    margin-top: 150px;
}

.image {
    width: 250px;
}

.thought-list {
    padding: 3.2px;
    padding-left: 3px;
}

.cross-out {
    text-decoration: line-through;
}

.pin {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: auto;
    margin-top: -10px;
}

.p-one {
    background-color: rgb(208, 81, 81);
    box-shadow: 1px 1px 3px rgb(44, 94, 47);
}

.p-two {
    background-color: rgb(235, 127, 12);
    box-shadow: 1px 1px 3px rgb(22, 68, 115);
}

.p-three {
    background-color: rgb(195, 81, 208);
    box-shadow: 1px 1px 3px rgb(71, 75, 33);
}

.p-five {
    background-color: rgb(53, 143, 226);
    box-shadow: 1px 1px 3px rgb(94, 75, 40);
    
}
#todo-list {
    font-size: large;
}

#p1 {
    text-align: center;
    border-bottom: solid;
    padding-bottom: 10px;
    margin-top: 10px;
}

#quote {
    text-align: center;
    font-size: x-large;
    padding-top: 30px;
}

#quote-name {
    text-align: right;
    padding-top: 20px;
    font-size: x-large;
    font-style: italic;
}

#p2 {
    text-align: center;
    margin-top: 15px;
}

#reminder {
    padding: 5px;
    font-size: large;
}

#reminder2 {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
}

#thoughts {
    text-align: center;
    margin-top: 3px;
}

#thought-box {
    margin-left: -25px;
}