* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: blue;
    padding: 24px;
    text-align: center;
}

#navbar a {
    color: white;
}

p a {
    color: teal;
}

p.warning {
    background-color: red;
}

p.warning a {
    color: orange;
}

ul {
    color: green;
}

ul a {
    color: lime;
}

ul p a {
    color: purple;
}

ul div a {
    color: lightblue;
}

div,
p,
#navbar {
    width: 300px;
    margin: 0px auto;
}