@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: bla;
}

#navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 24px;
    align-items: center;
}

#navbar a {
    font-size: 18px;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 25px;
    color: white;
    font-family: "Noto Serif Display", serif;
    letter-spacing: 1.5px;
}

#navbar a.brand-name {
    font-size: 28px;
    padding: 10px;
    margin-right: auto;
    font-family: "Noto Serif Display", serif;
    font-weight: bold;
    letter-spacing: 0px;
}

#hero {
    background-image: url(../images/urban-hi-res-1ui7.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#hero h1 {
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin: 0px;
    font-family: "Noto Serif Display", serif;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
}

#hero a {
    text-decoration: none;
    color: white;
    font-family: "Noto Serif Display", serif;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 1.5px;
}

#hero .gradient {
    display: flex;
    background: linear-gradient(0deg,  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.552));
    width: 100vw;
    height: 80vh;
    justify-content: center;
}

#column {
    max-width: 1400px;
    margin: 48px auto;
}

#column .card-container {
    display: flex;
    gap: 40px;
}

#column .card {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 36px 0px;
    padding: 40px 55px;
    flex: 1;
    text-align: center;
}

#column h2 {
    color: white;
    margin: 0px;
    padding-bottom: 20px;
    font-family: "Noto Serif Display", serif;
    letter-spacing: 1.5px;
}

#column .card a {
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    border-radius: 12px;
    border: 2px solid white;
    color: white;
    letter-spacing: 0.5px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 18px;
}

#gallery img {
    flex: 1;
    object-fit: cover;
    height: 350px;
}

#gallery img.fix {
    object-position: bottom;
}

#gallery img.fix2 {
    object-position: bottom center;
}

#gallery img.fix3 {
    /* object-position: 0px -210px; */
    object-position: center;
}

/* MEDIA BREAKS (WORK IN PROGRESS) */

@media screen and (max-width: 1366px) {
    body {
        background-color: rgb(0, 255, 8);
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 350px;
        gap: 24px;
    }

    #gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width: 776px) {
    body {
        background-color: aqua;
    }

    #gallery {
        display: flex;
        flex-direction: column;
    }

    #gallery img {
        object-fit: cover;
    }
}