* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.card-container {
    display: flex;
    gap: 36px;
}

.card {
    border: 5px solid purple;
    margin: 36px 0px;
    padding: 36px;
    flex: 1;
    text-align: center;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

#card3 {
    order: 1;
}

#card2 {
    order: 3;
}

#card1 {
    order: 2;
}

.side-by-side-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

.side-by-side-container img,
.side-by-side-conatiner h2 {
    flex: 1;
}

.side-by-side-container .image-container img {
    width: 100%;
}

.side-by-side-container h2 {
    font-size: 60px;
    margin-bottom: 0px;
}

.side-by-side-container, 
.text-container p {
    font-size: 24px;
}