* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: black;
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
}

/* !!!!!!!!!!!!!!!!!!!MOBILE BREAKPOINT!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width: 450px) {
    
    body{
        background-color: red;
    }

    #nav {
        flex-direction: column;
        align-items: center;
    }
}