* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: black;
    display: flex;
    justify-content: center;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}