* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 10px solid;
    gap: 24px;
}

.basic-grid-gallery img {
    width: 100%;
}

/* Mixed Gallery Demo */

.cropped-grid-gallery {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 10px solid;
    grid-auto-rows: 200px;
    gap: 24px;
}

.cropped-grid-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Masonry Grid Gallery Flexbox */

.masonry-horizontal-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.masonry-horizontal-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}

/* Masonry Grid Vertical Columns */

.masonry-vertical-gallery {
    columns: 3 auto;
    column-gap: 24px;
}

.masonry-vertical-gallery img {
    width: 100%;
    margin-bottom: 24px;
}