* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 10px solid;
    gap: 24px;
}

.basic-grid-gallery img {
    width: 100%;
}

.cropped-grid-gallery {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 10px solid;
    grid-auto-rows: 200px;
    gap: 24px;
}

.cropped-grid-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}