@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 100px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: "Merriweather Sans", sans-serif;
}

h3 {
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    font-family: "Merriweather Sans", sans-serif;
}

p {
    width: 450px;
    font-size: larger;
    text-align: center;
    margin-bottom: 50px;
    margin: 0px auto;
}

img {
    display: block;
    width: 450px;
    padding-top: 30px;
    margin: 0px auto;
}

a {
    display: block;
    margin: 0px auto;
}

#container1 {
    background-color: #fc99b4;
    padding: 48px 0px;
}

#container2 {
    background-color: #68de86;
    padding: 48px 0px;
}

#container3 {
    background-color: #ffcc6c;
    padding: 48px 0px;
}

#container4 {
    background-color: #6eded1;
    padding: 48px 0px;
}

#p1 {
    color: #522B36;
}

#p2 {
    color: #223427;
}

#p3 {
    color: #554C3D;
}

#p4 {
    color: #213432;
}

.single-column {
    margin-left: auto;
    margin-right: auto;
    max-width: 5000px;
}

.cta {
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

.b1 {
    color: #522B36;
}

.b2 {
    color: #223427;
}

.b3 {
    color: #554C3D;
}

.b4 {
    color: #213432;
}

.white {
    color: white;
}

.button {
    margin: 0px auto;
    min-width: 200px;
    max-width: 150px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: "Winky Sans", sans-serif;
}

.cta:hover {
    transition-duration: .5s;
    color: white;
    border-color: white;
    background-color: rgba(0, 255, 255, 0);
}