@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 100px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 70px;
    margin-top: 5px;
    font-family: "Merriweather Sans", sans-serif;
}

h3 {
    text-align: center;
    font-size: larger;
    margin-top: 35px;
    font-family: "Merriweather Sans", sans-serif;
}

p {
    width: 450px;
    font-size: x-large;
    text-align: center;
    margin-bottom: 50px;
    margin: 0px auto;
}

img {
    width: 460px;
    margin-top: 70px;
    
}

#container1 {
    background-color: rgb(252, 153, 180);
    padding: 48px 0px;
}

#container2 {
    background-color: rgb(104, 222, 134);
    padding: 48px 0px;
}

#container3 {
    background-color: rgb(255, 204, 108);
    padding: 48px 0px;
}

.single-column {
    margin: 0px auto;
    max-width: 5000px;
}

a {
    display: inline-block;
    margin: 0px auto;
}

.cta {
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.white {
    color: white;
}