* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#centered-hero {
    background-image: url(../images/stars-on-velvet.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centered-hero .hero-content {
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 72px;
}

.hero-content h3 {
    font-size: 24px;
}

#side-hero {
    background-image: url(../images/lonely-ocean.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10%;
}