* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
}

#thumbnail-column {
    width: 100px;
}

#thumbnail-column img{
    width: 100%;
    margin-bottom: 10px;
}

#featured-image-column {
    flex: 1;
}

#featured-image-column img {
    width: 100%;
}

#product-info-column {
    width: 400px;
}

#seller-info {
    width: 400px;
}

#product-name {
    margin-bottom: 5px;
}

#product-name h1 {
    margin: 0px;
    padding-bottom: 15px;
}

#seller-info2 {
    border-top: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 18px 0px;
}

#name {
    margin-bottom: 8px;
}

#seller-info2 #name {
    margin-bottom: 12px;
}

#seller-info2 #name a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#seller-info2 span {
    font-size: 16px;
    color: gray;
}

#seller-info2 a.info {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: normal;
}

#seller-info2 .info.dot::before {
    content: " ";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 4px;
    margin-right: 8px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: rgb(178, 178, 178);

}

#condition h3{
    font-size: large;
}

#condition span{
    font-weight: normal;
}

#price h1 {
    font-size: 35px;
}

#buttons a{
    display: block;
    background-color: rgb(11, 105, 255);
    border: 1px solid rgb(11, 105, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 12px 24px;
    margin-bottom: 14px;
    border-radius: 50px;
}

#buttons a.white {
    color: rgb(11, 105, 255);
    background-color: white;
    border: 1px solid rgb(11, 105, 255);
}