* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    padding: 42px 0px;
    font-size: 40px;
    text-align: center;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.recipe-intro {
    display: flex;
    gap: 46px;
    margin-top: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 46px 0px;
}

.recipe-intro .image-container img {
    width: 100%;
    object-fit: cover;
    height: 560px;
    width: 515px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.text-container h3 {
    font-weight: lighter;
}

.text-container .row p {
    margin: 5px 0px;
    font-size: small;
    letter-spacing: 0.8px;
}

.text-container span {
    font-weight: bold;
    font-size: small;
}

.text-container .button {
    display: block;
    width: 170px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 14px;
    margin-top: 24px;
}

.button:hover {
    transition-duration: 1.5s;
    color: black;
    border-color: black;
    background-color: rgb(237, 233, 220);
}

.text-container #text {
    margin: 20px 0px;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.three-cards {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.three-cards .card img {
    width: 240px;
    height: 300px;
    object-fit: cover;
}

.card p {
    width: 240px;
    text-align: center;
    font-size: larger;
    font-weight: lighter;
}