* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 36px;
    text-align: center;
    font-family: serif;
}

#single-column {
    width: 90vw;
    max-width: 810px;
    margin: 0px auto;
}

.recipe-intro {
    display: flex;
    gap: 46px;
    margin-top: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 40px 0px;
}

.recipe-intro .image-container img {
    width: 100%;
    object-fit: cover;
    height: 460px;
    width: 415px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-size: 36px;
    font-family: serif;
    margin-top: 0px;
    margin-bottom: 15px;
}

.text-container h3 {
    font-weight: lighter;
    font-size: 15px;
    padding-bottom: 5px;
}

.text-container .row p {
    margin: 5px 0px;
    font-size: 10px;
    letter-spacing: 0.8px;
}

.text-container span {
    font-weight: bold;
}

.text-container .button {
    display: block;
    width: 170px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 15px;
}

.button:hover {
    transition-duration: 1s;
    color: black;
    border-color: black;
    background-color: rgb(241, 237, 223);
}

.text-container #text {
    margin: 20px 0px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-size: small;
}

.three-cards {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
}
.three-cards .card img {
    width: 240px;
    height: 300px;
    object-fit: cover;
}

.card p {
    width: 240px;
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    padding-top: 7px;
}

.card .imgbutton:hover {
    opacity: 0.6;
}