* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.recipe-intro {
    display: flex;
    gap: 46px;
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 46px 0px;
}

.recipe-intro .image-container img {
    width: 100%;
    object-fit: cover;
    height: 560px;
    width: 515px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.text-container h3 {
    font-weight: lighter;
}

.text-container .row p {
    margin: 5px 0px;
    font-size: small;
    
}

.text-container span {
    font-weight: bold;
    font-size: small;
}