* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.recipe-intro {
    display: flex;
    gap: 36px;
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 36px 0px;
}

.recipe-intro .image-container img {
    width: 100%;
    object-fit: cover;
    height: 560px;
    width: 515px;
}

.recipe-intro .text-container {

}